* {
    margin: 0%;
    padding: 0%;
}
a:link
{
    color: white;
    text-decoration: none;
    padding: 0px 20px ;
}
li
{
    list-style: none;
}
/* configurações base */
/* página principal */

.navbar
{   
    min-width: 70px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    background-color: black;
    color: aliceblue;
    height: 12vh;
}
.nav-menu
{
    display: flex;
    align-items: center;
    gap: 10px;
}   
.btn
{
    margin-top: 10px;
    margin-left: 2vw;
    margin-right: 4vw;
    color: aliceblue;
    font-size: 90%;
}
#btn4
{
    margin-left: 28vw;
    text-decoration: none;
}
#transformesuarealidade
{
    width: 40vw;
    height: 60vh;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -60vh;
}
#quadrados
{
    width: 36vw;
    height: 70vh;
    flex-shrink: 0; 
    border-radius: 30px;
    background: rgba(145, 178, 165, 0.54);
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 55VW;
    margin-top: -86vh;
    position: absolute;
}
.quadrados1
{
    width: 30vw;
    height: 60vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Verde-gua, rgba(22, 153, 129, 0.53));
    background-blend-mode: multiply;
    margin-left: 3vw;
    margin-top: 4vh;
    
}
#botaoPS
{
    width: 14%;
    height: 6%;
    border-radius: 30px;
    color: #000;
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: -36vw;
    margin-top: 88vh;

}
#botaoVS
{
    width: 14%;
    height: 6%;
    border-radius: 30px;
    color: #000;
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 6vw;
    margin-top: 88vh;
}
#triangulos
{
    width: 43%;
    height: 80%;
    margin-bottom: 8vh;
}
#linhas
{
    height: 20%;
    width: 100%;
    margin-top: 10vh;
}
.comeco
{
    height: 110vh;
}
#duvidaimg
{
    width: 30%;
    height: 40%;
    margin-top: 16vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.25), 2px 4px 4px 2px rgba(52, 52, 52, 0.25);
}
#texto
{
    width: 346px;
    height: 190px;
    flex-shrink: 0;
    color: #303030;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 33%;
    margin-top: -22%;
    position: absolute;
}
#procuraimg
{
    width: 30%;
    height: 40%;
    margin-top: 34vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    margin-left: 68vw;
}
#texto1
{
    width: 36vw;
    height: 190px;
    flex-shrink: 0;
    color: #303030;
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 31%;
    margin-top: -18%;
    position: absolute;
}
#servicosimg
{
    width: 28%;
    height: 34%;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.25), 2px 4px 4px 2px rgba(52, 52, 52, 0.25);
    margin-top: -63vh;
    
}
footer
{
    background-color: #3a3a3a;
    color: #ffffff;
    height: 100%;
    width: 100%;
    margin-top: 24vh;  
    padding: 2%; 
    text-align: center!important;
}
#koi1
{
    width: 28vw;
    height: 58vh;
    margin-left: 1vw;
    margin-top: 1vh;
}
.imgabaixo
{
    margin-top: -12vh;
}

#titulo
{
    margin: 90px 6px 7px 40px;
    text-align: center;
}
#koilogonavbar
{
    width: 4vw;
    height: 65px;
    margin-bottom: 3px;
    margin-left: 10vw;
}
#bemvindo
{   
    margin-bottom: -9spx;
    margin-right:-150px;
    margin-left: 48px;
    font-size: 110%;
    list-style: none;
}
#containerfinal
{
    margin-top: 10vh;
    align-items: center;
}
#sobrenostitulo
{
    font-size: 155%;
    text-decoration: overline;
}
#resumo
{
    width: 50%;
    margin-left: 25%;
    font-size: 100%;
}
#resumo1
{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 100%;
    text-decoration: overline;
    display: inline
}
#carpa
{
    height: 5%;
    width: 10%;
    margin: 0% 10% 10% 10%;
}

/* página de serviços */

#koilogonavbarserv
{
    width: 4vw;
    height: 10%;
    margin-right:604px;
    margin-bottom: 3px;
    margin-left: -1vw;
    
}
#bemvindoserv
{       
    width: 30%;
    font-size: 100%;
    margin-right: -12px;
    margin-left: 3%;
    font-size: 150%;
}
#btn1serv
{
    margin-left: 4vw;
    margin-bottom: 1vh;
    font-size: 90%;

}
#btn2serv
{
    margin-left: 4vw;
    margin-bottom: 1vh;
    font-size: 90vh;

}
#btn3serv
{
    margin-left: 4%;
    margin-bottom: 1vh;

}
#btn4serv
{
    margin-left: 40%;
    margin-bottom: 1vh;
}
#classificacao
{
    width: 1186px;
    height: 50px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 21%;
}


nav
{
    background-color: #ffffff;
    height: 50px;
    width: 70%;
    border-radius: 20px;
    margin: 30px 40px 30px 224px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    

}
ul#ul-principal
{
    background-color: rgb(112, 60, 0);
    width: 90%;
    margin: auto;
    border-radius: 30px;
}
.li-p
{
    line-height: 50px;
    float: left;
    color: #000;
}
ul li ul li
{
    background-color: #c9c9c9;
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
}
ul li a:hover
{
    background-color: rgb(255, 255, 255);
    color: #525252;
}
#a-topicos
{
    color: #000;
    
}
p a
{
    color: inherit;
}
.seta
{
    width: 15px;
    height: 15px;
}
.ul-noticia
{
    display: none;
}
#triangulos1
{
    margin-bottom: -500px;
    margin-left: -15px;
}
.abainforma
{
    width: 770px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E7E7E7;
    margin: 40px 0px 100px 490px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2%;
}
.abaspequenas
{
    width: 478px;
    height: 1400px;
    border-radius: 30px;
    background: #ffffff;
    margin: -1290px 0px 10px 0px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.informacoes
{
    width: 450px;
    height: 30%;
    border-radius: 30px;
    background: #E7E7E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2% 0% 10% 2%;
    padding: 6%;
    
}
.statusservicos
{
    font-size: 120%;
    display: inline;
    margin-left: 10%;
    margin-top: 10%;
    text-decoration: overline;
}
.maps
{
    width: 78%;
    height: 32%;
    margin-left: 11%;
    margin-bottom: -60%;
    box-shadow: 0px 4px 4px 0px rgb(255, 255, 255), 0px 4px 4px 0px rgb(255, 255, 255);
    position: relative;
}
.cato
{
    margin-bottom: -22%;
    margin-left: 2%;
}
.pessoa
{
    width: 20%;
    margin-top: 18%;
    text-align: center;
    color: #303030;
}
.titulo
{
    margin-left: 16%;
    margin-bottom: -16%;
    margin-top: 10%;
    font-size: 220%;
}
.descricao
{
    width: 440px;
    height: 336px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-left: 35%;
    box-shadow: 0px 4px 4px 0px rgba(170, 170, 170, 0.202), 0px 4px 4px 0px rgba(178, 178, 178, 0.25);
    margin-bottom: 8%;
    margin-top: -14%;
}
.calendario
{
    margin-bottom: -16%;
    margin-left: 2%;
}
.localizacao
{
 margin-top: 2%;
}

/* página de perfil */

.circulos
{
    width: 400px;
    margin: 200px 50px;
}
.cato2
{
    width: 16%;
    height: 33%;
    flex-shrink: 0;
    border-radius: 100%;
    background: url(<path-to-image>), rgb(164, 164, 164) 50% / cover no-repeat;
    margin-left: -24%;    
}
.meio
{
    background-color:#169981;
    width: 34%;
    height: 40%;
    border-radius: 10px;margin-left: 60%;
    padding: 4%;
    margin-top: -10%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.202), 0px 4px 4px 0px rgba(0, 0, 0, 0.456);
}
.avaliacaoaoestrela
{
    width: 6%;
    display: inline;
}
.localizacao1
{
    margin-top: -22%;
    margin-left: 6%;
    width: 3%;
    height: 5%;
}
.historico
{
    width: 40%;
    height: 40%;
    background-color: #f8f8f8;
    border-radius: 2%;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 5%;
}
